<div id="choices">

<div id="choicescard">

    <p>Pets Galore!  Choose whether you'd like to look at Real or Fantasy pets!</p>
    <button id="realpetsbutton">Reals</button>
    <button id="fantasypetsbutton">Fantasticals</button>

</div>

</div>


<!-- ----------------------------------------------------------- -->
<!-- ----------------- START REAL PETS SECTION ----------------- -->
<!-- ----------------------------------------------------------- -->

<div id="realpetscards">

{{> r-navbar}}

<div class="container-fluid">
	<div class="row">
		<!--spacer--><div class="col-xs-0 col-sm-1 col-md-2 col-lg-2"></div>
        <section class="col-xs-12 col-sm-10 col-md-8 col-lg-8 jumbotron card card-block py-4">
            <h1 id="rpetstitle">Pets Galore!</h1>
            <h3 id="fpetssubtitle">Choose Your Favorite Pets Below! </h3>            
            <hr>

        <div class="row" id="realcardsrow">
            {{#each alldata.realdata}}      <!-- HERE BEGINS THE EACH --> 
                {{#if pet_adopted}} <!-- IF PET IS ADOPTED, THIS IS THE CARD THAT DISPLAYS -->
            <div class="col-md-4">
                <div class="card realcard my-md-2 my-sm-2 my-xs-2 my-xs-2">
                    <h2 class="card-title py-md-3 px-md-4"> {{ this.pet_name }} </h2>
                    <img class="card-img realcard-img" alt="PET to ADOPT" src="images/{{ this.pet_pic }}" style="width: 200px" />
                    <p> Type: {{ this.pet_type }} </p>
                    <p> Breed: {{ this.pet_breed }} </p>
                    <p> Age: {{ this.pet_age }} </p>
                    <p> Weight: {{ this.pet_weight }} </p>
                    <p> Price: {{ this.pet_price }}</p>
                    <p> Notes: {{ this.pet_notes }} </p>
                    <p>I already have a home!</p>
                    <br/>
                    <br/>
                    <br/>
                    <button type="submit" class="btn py-md-2 px-md-4" data-id="{{id}}" data-adopted-state="{{pet_adopted}}">Not available for adoption</button>
                </div>
            </div>

                {{else}}       <!-- IF PET IS NOT YET ADOPTED, THIS IS THE CARD THAT DISPLAYS -->
                <div class="col-md-4">
                    <div class="card realcard my-md-2 my-sm-2 my-xs-2 my-xs-2">
                        <h2 class="card-title py-md-3 px-md-4"> {{ this.pet_name }} </h2>
                        <img class="card-img realcard-img" alt="PET to ADOPT" src="images/{{ this.pet_pic }}" style="width: 200px" />
                        <p> Type: {{ this.pet_type }} </p>
                        <p> Breed: {{ this.pet_breed }} </p>
                        <p> Age: {{ this.pet_age }} </p>
                        <p> Weight: {{ this.pet_weight }} </p>
                        <p> Price: {{ this.pet_price }}</p>
                        <p> Notes: {{ this.pet_notes }} </p>
                        <p>I haven't yet been adopted!  Click on the button below to adopt me!</p>
                        <button type="submit" class="adoptable btn btn-primary py-md-2 px-md-4" data-id="{{this.id}}" data-adopted-state="{{this.pet_adopted}}" data-toggle="modal" data-target="#adoptReqModal{{this.id}}">Adopt Me!</button>

                        
                        <!-- Modal FOR ADOPTION FORM FOR THIS INDIVIDUAL PET -->
                        <div class="modal fade" id="adoptReqModal{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="adoptReqModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="adoptReqModalLabel">
                                    Adoption Inquiry: {{ this.pet_name }}
                                    </h3>
                                    <small>* denotes required fields - we will never sell your information.</small>
                                </div>
                                <form class="adopt-req-form" action="/api/adopt-form" method="POST" data-pet-id="{{this.id}}" >
                                    <div class="modal-body text-center" id="resultsDiv">
                                        
                                        <!-- NOTE- Form needs method defined as POST to avoid it sending all the data through the url because it will default to assuming the GET method which uses the url automatically -->
                                        <ul>
                                        <li>
                                            <label for="client-name">Name*</label>
                                            <input  type="text" class="client-name" name="client-name" placeholder="Full Name" required="required">
                                        </li>
                                        <li>
                                            <label for="client-email">Email*</label>
                                            <input  type="email" class="client-email" name="client-email" placeholder="example@example.com" required="required">
                                        </li>
                                        <li>
                                            <label for="client-phone">Phone#</label>
                                            <input   type="tel" class="client-phone" name="client-phone" placeholder="555-555-5555">
                                        </li>
                                        <li>
                                            <label for="client-message">Message*</label>
                                            <textarea rows ="6" cols = "50" class="client-message" name="client-message" required="required"></textarea>
                                        </li>
                                        </ul>
                                    
                                    </div>

                                    <div class="modal-footer">
                                        <input class="btn btn-primary submit-adopt-form"  type="submit" data-dismiss="modal" />
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                            </div>
                        </div>
                        <!-- END MODAL FOR ADOPTION FORM FOR THIS INDIVIDUAL PET -->
                        
                        <!--TODO put confirmation div here for success message upon submission -->
                    </div>
                </div>
                    {{!-- END single PET card --}}
                {{/if}}

            {{/each}}           <!-- HERE ENDS THE EACH --> 
        </div>

        </section>


            
        <!--spacer--><div class="col-xs-0 col-sm-1 col-md-2 col-lg-2"></div>

    </div> <!-- end row2 page body -->

</div>

</div>


<!-- ----------------------------------------------------------- -->
<!-- -----------REAL PETS ABOVE; FANTASY PETS BELOW ------------ -->
<!-- ----------------------------------------------------------- -->

<div id="fantasypetscards">

{{> f-navbar}}

<div class="container-fluid" style="background-image: url(sparkleblue.jpg)">
	<div class="row">
		<!--spacer--><div class="col-xs-0 col-sm-1 col-md-2 col-lg-2"></div>
        <section class="col-xs-12 col-sm-10 col-md-8 col-lg-8 jumbotron card card-block py-4" style="background-image: url(images/starsss.jpg); background-size: cover">
            <h1 id="fpetstitle">Fantasy Pets Galore!</h1>
            <h3 id="fpetssubtitle">Fantastic Pets of All Flavours Below! </h3>            
            <hr>

        <div class="row" id="fantasycardsrow">
            {{#each alldata.fantasydata}}      <!-- HERE BEGINS THE EACH --> 
                {{#if adopted}} <!-- IF CREATURE IS ADOPTED, THIS IS THE CARD THAT DISPLAYS -->
            <div class="col-md-4">
                <div class="card fantasycard my-md-2 my-sm-2 my-xs-2 my-xs-2">
                    <h2 class="card-title py-md-3 px-md-4"> {{ this.name }} </h2>
                    <center><img class="card-img fantasycard-img" alt="CREATURE to ADOPT" src="images/{{ this.pic }}" style="width: 200px" /></center>
                    <p> Age:</span> {{ this.age }} </p>
                    <p> Size in Feet: {{ this.size_in_feet }} </p>
                    <p> Temperament: {{ this.temperament }} </p>
                    <p> Price: ${{ this.price }}</p>
                    <p> From: {{ this.from_where }}</p>
                    <p> If you like this, try a pet more like... <br/> {{ this.matching_real_animal }} </p>
                    <p>I already have a home!</p>
                    <br/>
                    <br/>
                    <br/>
                    <button type="submit" class="btn py-md-2 px-md-4" data-id="{{id}}" data-adopted-state="{{adopted}}">Not available for adoption</button>
                </div>
            </div>

                {{else}}       <!-- IF CREATURE IS NOT YET ADOPTED, THIS IS THE CARD THAT DISPLAYS -->
                <div class="col-md-4">
                    <div class="card fantasycard my-md-2 my-sm-2 my-xs-2 my-xs-2">
                        <h2 class="card-title py-md-3 px-md-4"> {{ this.name }} </h2>
                        <center><img class="card-img fantasycard-img" alt="CREATURE to ADOPT" src="images/{{ this.pic }}" style="width: 200px"/></center>
                    <p> Age: {{ this.age }} </p>
                    <p> Size in Feet: {{ this.size_in_feet }} </p>
                    <p> Temperament: {{ this.temperament }} </p>
                    <p> Price: {{ this.price }}</p>
                    <p> From: {{ this.from_where }}</p>
                    <p> If you like this, try... {{ this.matching_real_animal }} </p>
                    <p>I haven't yet been adopted!  Click on the button below to adopt me!</p>
                    <button type="submit" class="adoptable btn btn-primary py-md-2 px-md-4" data-id="{{id}}" data-adopted-state="{{adopted}}">Adopt Me!</button>

                        <!-- Modal FOR ADOPTION FORM FOR THIS INDIVIDUAL PET -->
                        <div class="modal fade" id="adoptReqModal{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="adoptReqModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="adoptReqModalLabel">
                                    Adoption Inquiry: {{ this.name }}
                                    </h3>
                                    <small>* denotes required fields - we will never sell your information.</small>
                                </div>
                                <form class="adopt-req-form" action="/api/adopt-form" method="POST" data-pet-id="{{this.id}}" >
                                    <div class="modal-body text-center" id="resultsDiv">
                                        
                                        <!-- NOTE- Form needs method defined as POST to avoid it sending all the data through the url because it will default to assuming the GET method which uses the url automatically -->
                                        <ul>
                                        <li>
                                            <label for="client-name">Name*</label>
                                            <input  type="text" class="client-name" name="client-name" placeholder="Full Name" required="required">
                                        </li>
                                        <li>
                                            <label for="client-email">Email*</label>
                                            <input  type="email" class="client-email" name="client-email" placeholder="example@example.com" required="required">
                                        </li>
                                        <li>
                                            <label for="client-phone">Phone#</label>
                                            <input   type="tel" class="client-phone" name="client-phone" placeholder="555-555-5555">
                                        </li>
                                        <li>
                                            <label for="client-message">Message*</label>
                                            <textarea rows ="6" cols = "50" class="client-message" name="client-message" required="required"></textarea>
                                        </li>
                                        </ul>
                                    
                                    </div>

                                    <div class="modal-footer">
                                        <input class="btn btn-primary submit-adopt-form"  type="submit" data-dismiss="modal" />
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                            </div>
                        </div>
                        <!-- END MODAL FOR ADOPTION FORM FOR THIS INDIVIDUAL PET -->

                    </div>
                </div>
                    {{!-- END single CCREATURE card --}}
                {{/if}}

            {{/each}}           <!-- HERE ENDS THE EACH --> 
        </div>


        </section>
            
        <!--spacer--><div class="col-xs-0 col-sm-1 col-md-2 col-lg-2"></div>

    </div> <!-- end row2 page body -->

</div>

</div>

<!-- ------------------------------------------------------------ -->
<!-- -----------------END FANTASY PETS SECTION ------------------ -->
<!-- ------------------------------------------------------------ -->


